@import './Main.scss';


.game-con {
    border-radius: 10px;
    background: #fff;
}

.prompt-con {
    padding: 20px;
}

.status-panel {
    display: flex;
    justify-content: space-between;
}

.prompt {
    align-self: center;
}

.end-screen {
    background-color: $blue_light;
    border-radius: 5px;
}

.end-screen-path {
    background-color: #fff;
    border-radius: 5px;
}