@import './Main.scss';


.game-con {
    border-radius: 10px;
    background: #fff;
}

.prompt-con {
    padding: 20px;
}

.status-panel {
    display: flex;
    justify-content: space-between;
}

.prompt {
    align-self: center;
}
