@import './Main.scss';


#join-con {
    height: 50vh;
    background-image: linear-gradient(to right, $blue, $blue_light 95%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#home-title, #join-btn {
    color: $gray;
}

#join-btn {
    margin-top: 30px;
}

#instructions {
    flex-basis: 50%;
}
