@import './Main.scss';


body {
    height: 100vh;
    width: 100vw;
}

#join-con {
    height: 50vh;
}

#home-title, #join-btn {
    color: $gray;
}

#join-btn {
    margin-top: 30px;
}

#instructions {
    flex-basis: 50%;
}
